venv/
**/migrations/*
**/__pycache__/
.idea/
!/media/english_sample1.zip
!/media/english_sample2.rar
!/media/persian_sample1.7z
!/media/persian_sample2.rar
__pycache__/
*.py[cod]
*$py.class
db.sqlite3
